node_modules
coverage
.git
.husky
.next
build
.gitignore
.dockerignore
.env
.env.*
!.env.example
Dockerfile*
docker-compose*.yml
README.md
.vscode/
.idea/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
docs
.editorconfig
.prettierrc
.prettierignore
eslint.config.js
commitlint.config.js