# ! API CONFIGURATION
# -----------------------------------------------------------------------------------------------
# * NEXT_PUBLIC_API_URL: API base URL (e.g. https://api.example.com)
# * NEXT_PUBLIC_CDN_URL: CDN base URL (e.g. https://cdn.example.com)
# * BASE_URL: Base URL (e.g. http://localhost:3000)
# * CI: CI environment (e.g. true or false)
# -----------------------------------------------------------------------------------------------
NEXT_PUBLIC_API_URL=https://dummyjson.com
NEXT_PUBLIC_CDN_URL=https://cdn.dummyjson.com
BASE_URL=http://localhost:3000
CI=false